@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';


/* @theme {
    --color-main-primary: #F0FDF9;
    --color-main-secondary: rgb(204, 197, 181);
    --color-main-black: rgb(40, 43, 47);
    --color-main-white: rgb(255, 255, 255);
    --color-main-accent: rgb(241, 202, 59);
} */

@theme {
    --color-main-primary: #134686; /* #F0F0F0 */
    --color-main-secondary: #F0F0F0; /* #134686 */
    --color-main-white: #FFFFFF;
    --color-brand-primary: #0F766E;
    --color-main-accent: #F3F4F6;
    --color-main-black: #1F2937;
    --color-main-muted: #4B5563;
}


.fi-body {
    @apply bg-main-secondary text-main-black;
}

.fi-topbar {
    @apply bg-main-primary shadow-none ring-0 text-main-white;
}

.fi-icon-btn {
    @apply text-main-secondary
}

.fi-icon-btn {
    &.fi-size-sm {
        &:has(.fi-icon.fi-size-md) {
            @apply text-main-primary
        }
    }
}

.fi-logo {
    @apply text-main-white
}

.fi-sidebar-header .fi-logo {
    @apply text-main-primary
}

.fi-sidebar {
    @apply bg-main-white shadow-lg rounded-2xl ml-2 mt-2;
}

.fi-body-has-topbar .fi-sidebar {
    height: calc(100vh - 5rem);
}

.fi-sidebar-item>.fi-sidebar-item-btn {
    @apply rounded-2xl;
}

.fi-input-wrp, .fi-btn{
    @apply rounded-2xl;
}

.fi-sidebar-item.fi-active>.fi-sidebar-item-btn>.fi-sidebar-item-label{
    @apply text-main-primary;
}

.fi-sidebar-item.fi-active>.fi-sidebar-item-btn>.fi-icon{
    @apply text-main-primary;
}

.fi-sidebar-item.fi-active>.fi-sidebar-item-btn>.fi-sidebar-item-grouped-border>.fi-sidebar-item-grouped-border-part{
    @apply bg-main-primary;
}

.fi-ta-ctn{
    @apply bg-main-white p-4;
}

.fi-ta-ctn {
    & .fi-ta-header-ctn{
        @apply rounded-2xl bg-main-primary;
    }
}

.fi-ta-ctn {
    & .fi-ta-header-toolbar {
        @apply border-b-0;
    }
}

/* .fi-ta-ctn {
    & .fi-ta-header {
        @apply border-b-0;
    }
} */

.fi-ta-table{
    &>thead {
        &>tr {
            @apply text-main-black bg-main-white;
        }
    }
}

.fi-ta-header-heading{
    @apply text-main-white;
}