@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';


@theme {
    --color-main-primary: #1E3A8A; /* #1E40AF */
    --color-main-secondary: #F0F0F0; /* #134686 */
    --color-main-white: #FFFFFF;
    --color-brand-primary: #10B981;
    --color-main-accent: #F3F4F6;
    --color-main-black: #1F2937;
    --color-main-muted: #4B5563;
}


/* .fi-body {
    @apply bg-main-secondary text-main-black;
} */

/* .fi-topbar {
    @apply bg-main-primary shadow-none ring-0 text-main-white;
} */

/* .fi-icon-btn {
    @apply text-main-secondary
} */

/* .fi-icon-btn {
    &.fi-size-sm {
        &:has(.fi-icon.fi-size-md) {
            @apply text-main-primary
        }
    }
} */

/* .fi-logo {
    @apply text-main-white
}*/

/* .fi-sidebar-header .fi-logo {
    @apply text-main-primary;
}  */


.fi-sidebar {
    /* Gunakan margin & rounded untuk efek floating yang elegan */
    @apply ml-3 mt-2 rounded-2xl border-none shadow-2xl;

    /* Mode Terang (Light Mode) */
    @apply bg-white/80 backdrop-blur-md border border-gray-200;

    /* Mode Gelap (Dark Mode) */
    @apply dark:bg-gray-900/90 dark:border-white/10 dark:shadow-none;
}

.fi-body-has-topbar .fi-sidebar {
    height: calc(100vh - 5rem);
}

.fi-sidebar-item>.fi-sidebar-item-btn {
    @apply rounded-2xl;
}

.fi-input-wrp, .fi-btn{
    @apply rounded-2xl;
}

/* .fi-sidebar-item.fi-active>.fi-sidebar-item-btn>.fi-sidebar-item-label{
    @apply text-main-primary;
}

.fi-sidebar-item.fi-active>.fi-sidebar-item-btn>.fi-icon{
    @apply text-main-primary;
}

.fi-sidebar-item.fi-active>.fi-sidebar-item-btn>.fi-sidebar-item-grouped-border>.fi-sidebar-item-grouped-border-part{
    @apply bg-main-primary;
} */
